table {
  border-collapse: collapse;               
  margin: 20px 0;              
}
td {
  border: 2px solid black;   
  height: 64px;              
  width: 40px;                    
}
tr {
  border: 2px solid black; 
  width: 200px; 
}